<h1>Welcome to the Shoe Distribution Site</h1>

<div class="row">
  <div class="col-md-6">
    <a href="/brands">View Brands</a>
  </div>
  <div class="col-md-6">
    <a href="/stores">View Stores</a>
  </div>
</div>
